@tailwind base;
@tailwind components;
@tailwind utilities;

body {

    background-image: url("img/Bitmap.jpg");
}

.body-home1{
 
    background-image:url("img/img_home1/Bitmap.png");

}
.body-list {
    background: black;
}

.caja_login {
    width: 440px;
    height: 517px;
    opacity: 0.81;

}

.navbar_register {
  
    size: 18px;
}

.boton_inici_sesion {
    background: #0578FF;
    border-radius: 4px;
    height: 47px;
    width: 341px;


}


.title_inic_sesion {

    font-size: 36px;
    
}

.bot_login {
    background: #0578FF;
    width: 115px;
    height: 34px;
    align-content: center;
}

.item {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 6.91%, #000000 68.61%);
}

.items_grid {

    grid-template-columns: auto auto auto auto;
    grid-template-rows: min-content (30, auto);
    gap: 1em;

}
.navbarlist{
    width: 100%;
}
.hover-img:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}
.hover-img {overflow:hidden;}

.hover_line:hover{
    text-decoration: underline;

}




.box_home{
box-sizing: border-box;
border: 1px solid #92AAD7

}

.tex{
    width: 773px;
    height: 99px;
    size: 18px;
}

.coltex{

color: #92AAD7;
}


